/*.navbar-default {
    background-color: transparent;
    background: linear-gradient(#008349, #003533);
}*/

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    line-height: 26px !important;
}

.nav-green {
    background-color: transparent;
    background: linear-gradient(#008349, #003533);
}

.nav-orange {
    background-color: transparent;
    /*background: linear-gradient(#008349, #003533);*/
    background: linear-gradient(#FCAA2A, #D48035);
}

.navbar {
    min-height: 32px !important
}

.navbar-nav>li>a,
.navbar-brand {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    height: 25px;
}

.navbar {
    min-height: 20px !important;
}

.navbar-toggle {
    padding: 0 0;
    margin-top: 7px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    -webkit-transition-property: background-color;
    /* Safari */
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-property: background-color;
    transition-duration: 0.5s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    transition-delay: 2s;
    background-color: #082D29;
}

.navbar-default .navbar-nav>li>a {
    color: #ccc;
}

.navbar-nav>li>a {
    border-left: dotted 1px #ccc;
}

.top-banner {
    margin-top: -30px;
    background-image: url("../Images/Banners/Top-Banner-Image-Stripe-02.jpg")
    /*background-color: yellow;*/
}

.top-banner>h1 {
    margin-left: 35%;
    /*webkit-text-fill-color: linear-gradient(#008349, #003533);*/
    background: -webkit-linear-gradient(#003533, #c6d142);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px !important;
}

.top-banner>h2 {
    margin-left: 40%;
    font-size: 30px !important;
    margin-top: -1% !important;
    color: #03420c !important;
}


/*.nav-orange>.navbar-collapse {
    height: 40px !important;
}*/

.nav-orange {
    min-height: 43px !important;
}

.navbar-left>li {
    float: none !important;
    display: inline-block !important;
}

.nav-tabs {
    border: none !important;
}

.nav-tabs>li>a {
    color: #823610 !important;
    font-size: 17px;
}

.nav-tabs>li>a:hover {
    color: #465867 !important;
}

.carousel-caption>h2 {
    color: black !important;
}

.pull-right {
    margin-right: 3%;
}

.green-tiles {
    background: linear-gradient(#008349, #003533);
    float: left;
    margin-right: 10px;
    width: 30% !important;
    margin-top: 1%;
    margin-bottom: 1%;
}

.employee-tile {
    margin-left: 4%;
}

.green-tiles>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.green-tiles>h4 {
    text-align: center;
    color: white;
    font-size: 2.2em;
    margin-bottom: 12%;
}

.green-tiles>p {
    text-align: center;
    color: white;
    margin-top: 10%;
    font-size: 1.2em;
    margin-bottom: 15%;
}

.pull-left {
    padding-top: 1.2%;
}

.pull-right {
    padding-top: 1%;
}

.mid-intro>h2 {
    text-align: center;
    padding-top: 2%;
}

.mid-intro>p {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

h2,
h3,
p {
    color: #003533;
}

.bottom-verse {
    margin-bottom: 5%;
}